@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

section {
  position: relative;
  min-height: 100vh;
  background-image: url('./assets/coffee3.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container {
  margin: 0 14%;
}

.promotext {
  padding-top: 24%;
  color: #ddedff;
  text-shadow: 1px 1px 11px #022e77;
}

.promotext h3 {
  font-size: 6.5rem;
  line-height: 1;
}

.promotext p {
  font-size: 2.2rem;
  font-weight: 300;
  margin-top: 40px;
}

.login {
  position: absolute;
  padding: 50px 80px;
  text-align: center;
  box-shadow: 3px 6px 30px 8px rgba(58 58 58 / 15%);
  right: 15%;
  bottom: 20%;
  height: 57%;
  background: rgb(0, 52, 134 / 50%);
  border: 1px solid;
  border-top-color: #56aaff;
  border-left-color: #56aaff;
  border-bottom-color: #00000030;
  border-right-color: #00000030;
  border-radius: 8px;
  backdrop-filter: blur(5px);
}

.login h4 {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #d7f52b;
}

.login p {
  font-size: 18px;
  color: #d7f52b;
  margin-bottom: 100px;
}

.inputbox {
  position: relative;
  margin-bottom: 50px;
}

.inputbox input {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 2px;
  color: #eff9ff;
  border: none;
  border-bottom: 1px solid #abe0ff;
  background-color: transparent;
  padding: 4px 3px;
  outline: none;
}

.inputbox span {
  position: absolute;
  left: 2px;
  bottom: 40px;
  letter-spacing: 1px;
  color: #efff93;
}

.button {
  position: relative;
  cursor: pointer;
  background: #d7f52b;
  color: #022e79;
  font-weight: 600;
  border: none;
  font-size: 20px;
  padding: 18px 8px;
  text-transform: uppercase;
  border-radius: 50px;
  border-radius: 0 3px 8px 2px rgb(60 60 60 / 30%);
  margin-top: 30px;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  background-color: #cfee21;
  box-shadow: 0 3px 8px 2px rgb(99 99 99 / 30%);
}
