@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --header-height: 3rem;
  --body-color: #f5fffe;
  --z-fixed: 100;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #efff93 !important;
  font-size: 1.4rem;
}

.bd-container {
  max-width: 968px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
}

.nav {
  max-width: 1200px;
  height: var(--header-height);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.nav__logo,
.nav__toggle {
  color: var(--body-color);
  text-transform: uppercase;
}

.nav__link {
  color: #6f4e37;
}

.nav__item {
  margin-bottom: 1.5rem;
  color: #6f4e37;
}

.nav__menu {
  display: flex;
  justify-content: space-between;
  color: #6f4e37;
}

section {
  position: relative;
  min-height: 100vh;
  background-image: url('./assets/coffee5.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container {
  margin: 0 14%;
}

.promotext {
  padding-top: 23%;
  color: #efff93;
  text-shadow: 2px 1px 11px #6f4e37;
}

.promotext h3 {
  font-size: 5rem;
  line-height: 1;
  text-shadow: 2px 1px 11px #6f4e37;
}

.promotext p {
  font-size: 2.2rem;
  font-weight: 300;
}

.logbox {
  max-height: 120px;
}

.login {
  position: absolute;
  padding: 30px 60px;
  text-align: center;
  box-shadow: 3px 6px 30px 8px rgb(58 58 58 / 15%);
  background: rgb(0, 52, 134 / 50%);
  right: 10%;
  bottom: 20%;
  height: 57%;
  border: 1px solid;
  border-top-color: #56aaff;
  border-left-color: #56aaff;
  border-bottom-color: #00000030;
  border-right-color: #00000030;
  border-radius: 8px;
  backdrop-filter: blur(5px);
}

.login h4 {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #efff93;
}

.login p {
  font-size: 18px;
  color: #efff93;
  margin-bottom: 50px;
}

.inputbox {
  position: relative;
  margin-bottom: 30px;
}

.inputbox input {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 2px;
  color: #6f4e37;

  border: none;
  border-bottom: 1px solid #abe0ff;
  background-color: transparent;
  padding: 4px 3px;
  outline: none;
}

.inputbox span {
  position: absolute;
  left: 2px;
  bottom: 40px;
  letter-spacing: 1px;
  color: #efff93;
}

.button {
  position: relative;
  cursor: pointer;
  background-color: #efff93;
  color: #6f4e37;
  font-weight: 600;
  border: none;
  font-size: 20px;
  padding: 18px 80px;
  text-transform: uppercase;
  border-radius: 50px;
  border-radius: 0 3px 8px 2px rgb(60 60 60 / 30%);
  margin-top: 30px;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  background-color: #cfee21;
  box-shadow: 0 3px 8px 2px rgb(99 99 99 / 30%);
}

.button2 {
  position: relative;
  cursor: pointer;
  background-color: #efff93;
  color: #6f4e37;
  font-weight: 600;
  border: none;
  font-size: 20px;
  padding: 10px 50px;
  text-transform: uppercase;
  border-radius: 50px;
  border-radius: 0 3px 8px 2px rgb(60 60 60 / 30%);
  margin-top: 30px;
  transition: all 0.2s ease-in-out;
}

.button2:hover {
  background-color: #6f4e37;
  color: #efff93;
}

@media screen and (min-width: 1024px) {
  .bd-container {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__list {
    display: flex;
  }
  .nav__item {
    margin-right: 2rem;
    margin-bottom: 0;
  }
  .nav__link {
    color: var(--body-color);
  }
  .nav__toggle {
    display: none;
  }
}
